body{
    background-color: lightgray;
}

.flex{
    display: flex;
}


.t-card{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    margin: 10px;
    width: 20%;
    border-radius: 30px;
}

.t-card img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.t-card .top{
    text-align: center;
    margin: 20px;

    background-color: white;
}

.t-card .bottom{
    text-align: center;
    background-color: lightslategray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.t-card .btn{
    margin: 5px;
}

.t-card .btn button{
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    border: none;
    margin: 3px;
}

.t-card .btn .offer{
    background-color: #1c84f3;
    color: white;
    font-weight: bold;
}
.t-card .btn .cv{
    color: #61acfc;
    font-weight: bold;
    border: 1px solid #1c84f3;
}

.t-card .btn .cv:hover{
    cursor: pointer;
}

.t-card .btn .offer:hover{
    cursor: pointer;
}


.t-card .status{
    margin: 10px;
    color: white;
}

.t-card .bottom .bio{
    margin: 30px;
    text-align: center;
    font-size: 15px;
}

.loc img{
    height: 10px;
    width: 20px;
}

.status img{
    height: 8px;
    width: 10px;
    
}